# Environments
.env
.venv
env/
venv/
ENV/

# Python cache
__pycache__/
*.pyc

# Logs, Sessions, Backups
*.log
*.session
*.session-journal
*.backup
nohup.out
output.log

# Temp files
temp/

# Build artifacts
build/
dist/

# Ignored Dirs
pycdc/
.pytest_cache/

